body { font-size: 80%; }


a { text-decoration: none; font-weight: bold; color: black; }
a:hover { text-decoration: underline; }
#footer a { color: gray; }
#header a { color: black; }
#menu a { color: white; }

h1 { font-size: 2.5em; color: black; margin-bottom: 0;}
h2 { color: rgb(2, 80, 57); font-size: 2em;  margin-bottom: 0; margin-top: .5em; }
h3 { color: black; font-size: 1.5em;  margin-bottom: 0; }

#header h1 { margin: 0; color:white;  }
#header h2{ margin: 0; color:white;  }
#header h3{ margin: 0; color:white; }
#header strong{ font-size: 1.25em; color:white; }