html { height: 100%; width: 100%; margin: 0; padding: 0; }
body { width: 100%; height: 100%; margin: 0; padding: 0; min-width: 60em; font-family: Verdana, Helvetica, Arial, sans-serif; background-color: rgb(225, 225, 225); }

div.spacer { padding: 1em; margin: 0; }
#container { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -6em; background-image:url('images/side.png'); background-repeat:repeat-y; background-position:left top;  }
#header { width: 100%; min-width: 60em; height: 10em; color: black; padding: 0; margin: 0; position: absolute; top: 0; left: 0; background-color: rgb(2, 80, 57); }
#menu { width: 100%; min-width: 60em; height: 3em; color: white; background-color: black; padding: 0; margin: 0; position: absolute; top: 10em; left: 0; vertical-align: middle; border-top: solid 0.1em rgb(233,255,128); border-bottom: solid 0.1em rgb(233,255,128);  }
div.menu-item { margin: 0; float: left; width: 20%; height: 100%; line-height: 100%; text-align: center; position: relative; }
#content { width: 100%; color: black; padding: 0; margin: 0;  }
#content > div.spacer { padding-top: 15em; padding-bottom: 1em; padding-left: 1em; padding-left: 300px; margin: 0; }

#sidebar div.spacer { padding-top: 15em; padding-bottom: 7em; padding-left: 1em; padding-right: 1em; margin: 0; }
#footer { width: 100%;  min-width: 60em; height: 6em; color: gray; background-color: black; margin: 0; padding: 0; text-align: center; }
#footer div.spacer { border-top: solid 0.1em white;}
#push { height: 6em; }

div.download { width: 20em; color: white; background-color: rgb(2, 80, 57); border: solid 0.1em rgb(233,255,128); margin-left: auto; margin-right: auto; text-align: center; font-size: 1.5em; } 

code { font-size: 1.3em; font-weight: bold; }
tt { font-size: 1.3em; font-weight: bold; }

strong.tag { border: solid 0.1em black; background-color: rgb(233,255,128); color: black; padding: .5em; font-size: .9em; }
div.box { margin-top: .5em; margin-bottom: .5em; padding: .5em; background-color: black; font-size: .9em; }
div.note { position: absolute; width: 240px; left: 0; padding-left: 20px; padding-right: 20px; color: white; }

table.shaded { margin-left: auto; margin-right: auto; background-color: white; border-spacing: 0.1em; }
table.shaded th {	background-color: rgb(2, 80, 57); text-align: center; padding:.5em; color: white; font-weight: normal; }
table.shaded tr:nth-child(even) {background-color: rgb(195,229,226)}
table.shaded tr:hover { background-color: rgb(233,255,128); }
table.shaded td { text-align: center; padding:.5em; }

pre { display: block; padding: .75em }

ul {list-style-type: square; }

/*
ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
ul li
{
background-image: url('images/star-black.png');
background-repeat: no-repeat;
background-position: 2px 4px; 
padding-left: 22px; 
}

div.box ul li
{
background-image: url('images/star-white.png');
background-repeat: no-repeat;
background-position: 2px 3px; 
padding-left: 22px; 
}
*/

/* old background-color: rgb(120,40,98); */

h1 a:hover{ text-decoration: none; }
h2 a:hover{ text-decoration: none; }
h3 a:hover{ text-decoration: none; }
h4 a:hover{ text-decoration: none; }

.pink { color: rgb( 246, 37, 130 ); }
.lightpink { color: #fa85b9; }

img.center { display: block; margin-left: auto; margin-right: auto; }
